<form method="post" action="{{ path('app_Chaussure_delete', {'id': Chaussure.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Chaussure.id) }}">
    <button  class="btn btn-danger btn-block mt-4">Delete</button>
</form>
